.body-payment h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  background-color: #193a74;
  padding: 12px;
}

.tt-kh {
  text-align: center;
  font-size: 2rem;
  color: #193a74;
  font-weight: bold;
}

.title-ttdh {
  text-align: center;
  font-size: 2rem;
  color: #193a74;
  margin-top: 1rem;
  font-weight: bold;
}

.tt-dh {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#container-carts-payment {
  width: 100%;
  border: none;
}
